.NavTable {
    width: 100%;
    color: #2C2E38;
    font-family: "Bitstream Charter";
    font-size: 25px;
    text-transform: uppercase;}

.NavTable td {
    width: 100px;
    background-color: #45F982;
    text-shadow: 1px -1px 1px ;

}

.NavTable a:link, .NavTable a:visited, .NavTable a:hover, .NavTable a:active {
    color: #2C2E38;
    text-decoration: none;
    font-weight: bold;
}

.NavTable button{
    width: auto;
    background-color: #FF5258;
}