body {
    background-color: #2C2E38;
    font-family: "Bitstream Charter";
    color: #F4F992;
    font-size: 25px;
    text-align: center;
}


h1 {
    color: #F4F992;
    text-align: center;
    font-size: 50px;
}

span{
    color: #FF5258;
}


form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table {
    width: 100%;
}

thead{
    font-weight: bold;
}

td {
    height: 60px;
    vertical-align: center;
}

input {
    text-align: center;
    font-size: 25px;
    margin: auto;
    width: 30%;
}

textarea{
    font-size: 25px;
    margin: auto;
    width: 30%;
}

button {
    background-color: #FF5258;
    font-size: 25px;
    margin: auto;
    width: 30%;
    padding: 10px;
    text-shadow: 1px -1px 1px black;

}

.Warehouse{
    color: #F4F992;
}


.Warehouse a:link, .Warehouse a:visited, .Warehouse a:hover, .Warehouse a:active {
    color: #FF5258;
    text-decoration: none;
    font-weight: bold;
}

TableList td{
    color: #F4F992;
}


.TableList a:link, .TableList a:visited, .TableList a:hover, .TableList a:active {
    color: #FF5258;
    text-decoration: none;
    font-weight: bold;
}

.Red{
    color: #FF5258;
}

.Green{
    color: #45F982;
}